.adminSubcat {
  width: 100dvw;
  height: 100dvh;
  background: lightblue;
  position: relative;
}
.adminSubCatNav {
  width: 100%;
  height: 15%;
  background: lightgreen;
}
.adminsubcatModal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightgrey;
  z-index: 1;
}
