.adminCategory{
    width: 100dvw;
    height: 100dvh;
    background: lightblue;
}
.adminCatNav{
    width: 100%;
    height: 15%;
    background: lightgreen;
}
.adminCatBody{
    position: relative;
    background: orange;
    width: 100%;
    height: 100%;
}

.adminCatModal{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: lightcyan;
}
